/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--white: #F0F7F4;
	--black: #090B0A;

	--primLight: #beebd6;
	--prim: #A2E3C4;
	--primDark: #618876;

	--secLight: #b3bfb8;
	--sec: #7E8D85;
	--secDark: #3C493F;

	--shadow: 3px 3px 10px 0px rgba(0,9,11,0.3);

	--borderDark: solid 1px var(--secLight);
	--borderLight: solid 1px var(--primLight);
	--radius: 5px;
}

.bttn {
	background: var(--secLight);
	padding: 7px 10px;
	box-shadow: none;
	border-radius: var(--radius);
	border: none;
	color: var(--white)
}
